{% extends "base.html" %}
{% block navli %}
<li><a href="/">Home</a></li>
<li class="active"><a href="/assist/{{student.id}}">{{student.name.firstName}} {{student.name.lastSurname}}</a></li>
<li><a href="/suggest/{{student.id}}">Suggest Resources</a></li>
{% endblock %}
{% block content %}
<div class="hero-unit">
    <h1>{% if journey %}{{journey[0].accomplishment}}{% else %}Still dreaming...{% endif %}</h1>
    <p><a href="/step/{{student.id}}">{% if journey %}Continue{% else %}Start{% endif %} the journey.</a></p>
</div>
{% endblock %}