{% extends "base.html" %}
{% block navli %}
<li><a href="/">Home</a></li>
<li><a href="/assist/{{student.id}}">{{student.name.firstName}} {{student.name.lastSurname}}</a></li>
<li class="active"><a href="/suggest/{{student.id}}">Suggest Resources</a></li>
{% endblock %}
{% block content %}
<div class="hero-unit">
    <h1>Courses</h1>
    <p>Courses!</p>
</div>
    {% for course in courses %}
<div class="row">
        <div class="span2">
            checkbox
        </div>
        <div class="span7">
            {{course.courseTitle}}
        </div>
</div>
    {% endfor %}
{% endblock %}