{% extends "base.html" %}
{% block navli %}
<li><a href="/">Home</a></li>
<li><a href="/assist/{{student.id}}">{{student.name.firstName}} {{student.name.lastSurname}}</a></li>
<li class="active"><a href="/suggest/{{student.id}}">Suggest Resources</a></li>
{% endblock %}
{% block content %}
<div class="hero-unit">
    <h1>Courses</h1>
    <p>Courses!</p>
</div>
<form>
    {% for course in courses %}
    <div class="row">
        <div class="span7">
            <input type="checkbox" name="course" value="{{course.id}}" {% if course.id in suggestions %}checked="checked"{% endif %} /> {{course.courseTitle}}
        </div>
    </div>
    {% endfor %}
<input type="submit" value="Suggest" />
</form>
{% endblock %}