{% extends "base.html" %}
{% block navli %}
<li><a href="/">Home</a></li>
<li><a href="/assist/{{student.id}}">{{student.name.firstName}} {{student.name.lastSurname}}</a></li>
<li><a href="/suggest/{{student.id}}">Suggest Resources</a></li>
<li class="active"><a href="/step/{{student.id}}">Step</a></li>
{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    {% if goal %}<h3><em>{{goal}}</em></h3>{% endif %}
    <h1>{{prompt}}</h1>
    <input type="file" name="image" /><br>
    <textarea name="accomplishment" style="width: 30em; height: 6em;"></textarea>
    <h1>And what will you do next?</h1>
    <textarea name="prompt" style="width: 30em; height: 6em;"></textarea>
    <br /><input type="submit" value="Dream" />
</form>
{% endblock %}